<div class="container mt-4">
    <table class="table table-bordered table-hover mt-5 py-5">
        <thead class="thead-dark">
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Type</th>
            <th colspan="2">Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let book of books; index as i ">
                <td>{{ i+1 }}</td>
                <td>{{ book.name}}</td>
                <td>{{ book.author}}</td>
                <td>{{ book.type}} </td>
                <td colspan="2">
                    <button class="btn btn-success mr-2" [routerLink]="['/edit', book.id]">Edit</button>
                    <button class="btn btn-danger" (click)="onDelete(book)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>